language: php
php:
  - 7.1
  - 7.0
  - 5.6
  - 5.5
install:
  - composer self-update
  - composer install --dev
script:
  - vendor/bin/robo test:coverage-codeclimate
addons:
  code_climate:
    repo_token: ***REMOVED***
after_success:
  - vendor/bin/test-reporter
